# Tạo một file .env để ở thư mục root của project, sau đó copy các dòng và thay thế bằng dữ liệu thực tế
PORT=3001
NODE_ENV=dev
DATABASE_USERNAME=test
DATABASE_PASSWORD=123
JWT_SECRET=aiksjcoancoancoaintf9o328irh91q823hr901284
JWT_ACCESS_TOKEN_EXP=15m
JWT_REFRESH_TOKEN_EXP=7d
BCRYPT_ROUNDS=12
MAIL_USER=21050066@student.bdu.edu.vn
MAIL_PASS=cfgx nere xriv cnot
JWT_RESET_PASSWORD_TOKEN_EXP=15m